<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.hackle.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".ui.explorer.activity.HackleUserExplorerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/HackleTheme" />

        <activity
            android:name=".ui.notification.NotificationTrampolineActivity"
            android:exported="false"
            android:theme="@style/Hackle.NotificationTrampoline.Transparent" />

        <receiver
            android:name=".ui.notification.NotificationBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        
        <provider
            android:name=".provider.LifecycleProvider"
            android:authorities="${applicationId}.HackleReactNativeContentProvider"
            android:exported="false" />
    </application>

</manifest>