name: Test

on:
  pull_request:

jobs:
  android-sdk-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.2
          cache-read-only: false
          gradle-home-cache-cleanup: true

      - name: Test
        run: gradle :hackle-android-sdk:test :hackle-android-sdk:coverageReport --quiet --no-daemon --warning-mode=none
        env:
          ANDROID_SDK_SUPPRESS_WARNINGS: true
          ANDROID_SUPPRESS_ALL_WARNINGS: true
          JAVA_TOOL_OPTIONS: "-Dfile.encoding=UTF-8 -Djava.awt.headless=true"

      - name: Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/testDebugUnitTest/TEST-*.xml'
          check_name: 'Test Results'
          comment_title: 'Test Results'
          comment_mode: changes

      - name: Coverage
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        if: always()
        with:
          paths: ${{ github.workspace }}/hackle-android-sdk/build/reports/jacoco/coverageReport/coverageReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Coverage
          update-comment: true
